@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{font-family: 'Josefin Sans', sans-serif;
    
}


.row.galeria {
    text-align:  -webkit-center !important;

}

.row.hero {
    background-color: rgb(0, 0, 0);
    color: #fff;
}


@media only screen and (max-width: 720px) {
    .galeria img {
        width: 100% !important;
    }
}