@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Concert One', cursive;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin: 0 25px;
    list-style-type: style none;
}


header nav ul li a 
{ color: #70009c}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.search-container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: -4px 4px #700086, -2px -2px #700086, 2px -2px #700086, 3px 3px #700086
}


#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #644c74;
    border-radius: 5px;
    font-family: 'Concert One', cursive;
}

#searchButton {
    padding: 10px 20px;
    background-color: #70009c;
    color: #0e0016;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Concert One', cursive;
}

footer{color: #e8c6ff;
    margin-top: 490px;
text-align: center;}


@media only screen and (max-width: 600px;
    footer {
        margin-top: 60px;
    }
)